/* Import component styles */
@import url('./components/popup/index.js');
@import url('./pages/overview/index.js');
@import url('./pages/boardSelection/index.js');
@import url('./tickets/celebration/index.js');
@import url('./tickets/improvement/index.js');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lato&display=swap');

/* Global styles */

/* reset styles of the pages */
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
}
.container {
  /* max-width: 800px; */
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  /* gap: 20px; */
}
.card {
  width: calc(50% - 10px);
}
.card {
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
}
/* Additional global styles... */
