/* Import component styles */
@import url('./components/popup/index.js');
@import url('./pages/overview/index.js');
@import url('./pages/boardSelection/index.js');
@import url('./tickets/celebration/index.js');
@import url('./tickets/improvement/index.js');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lato&display=swap');

/* Global styles */

/* reset styles of the pages */
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

/* Additional global styles... */
