/* Import component styles */
@import url('./components/popup/index.js');
@import url('./pages/overview/index.js');
@import url('./pages/boardSelection/index.js');
@import url('./tickets/celebration/index.js');
@import url('./tickets/improvement/index.js');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lato&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  font-family: 'Inter', sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.container {
  border-radius: 16px;
  flex-wrap: wrap;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logo {
  max-width: 12rem;
  height: auto;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  margin: 10px;
}
