.btn-basic {
  background-color: gainsboro!important;
}

button.btn-close {
  color: #ffffff!important;
}

.modal-header {
  padding: 0.5em!important;
  background-color: #006bd7;
}

.modal-header h4 {
  font-size: 1em;
  color: #ffffff;
}

.previewTop {
  margin-top: 0.2em!important;
}

.iPreview, .cPreview {
  border: 2px solid #006bd7;
  border-radius: 0.5em;
  margin: 0.5em;
}

.cPreview {
  padding-bottom: 0.5em;
}

.ticketIcon {
  padding: 0.2em;
  background-color: #006bd7;
  color: #fbd302;
  border-radius: 0.75em;
  margin: 0.1em;
  margin-top: 2px!important;
}
